/NoiseStudio/NoiseStudio/*.user
/NoiseStudio/build
/NoiseStudioLib/NoiseStudioLib/build-NoiseStudioLib-Desktop_Qt_5_3_MinGW_32bit-Debug
/NoiseStudioLib/NoiseStudioLib/build-NoiseStudioLib-Desktop_Qt_5_3_MinGW_32bit-Release
/NoiseStudioLib-Tests/build-NoiseStudioLib-Tests-Desktop_Qt_5_3_MinGW_32bit-Debug
/NoiseStudioLib/boost
/NoiseStudio/NoiseStudio/build
/NoiseStudio/NoiseStudio/build-NoiseStudio-Desktop_Qt_5_3_MinGW_32bit-Debug
/NoiseStudioLib-Tests/*.user
/NoiseStudioLib/NoiseStudioLib/*.user
/NoiseStudioLib/build
/NoiseStudioLib-Tests/build
*.user
/cloc.exe
*.autosave
/NoiseStudio/build-NoiseStudio-Desktop_Qt_5_3_MinGW_32bit-Debug
/NoiseStudioLib/NoiseStudioLib/build-NoiseStudioLib-Desktop_Qt_5_5_1_MinGW_32bit-Debug
/NoiseStudio/NoiseStudio/build-NoiseStudio-Desktop_Qt_5_5_1_MinGW_32bit-Debug
/NoiseStudio/NoiseStudio/NoiseStudio.pro.user.3.3-pre1
/NoiseStudioLib/NoiseStudioLib/NoiseStudioLib.pro.user.3.3-pre1
